
.DS_Store
/java/bin/*

java/.classpath

java/.project

java/.DS_Store

java/.idea/*

java/.idea/.name

java/.idea/compiler.xml

java/.idea/copyright/profiles_settings.xml

java/.idea/misc.xml

java/.idea/modules.xml

java/.idea/workspace.xml

java/Catan.iml
java/java.iml

*.log
*.xml
java/.idea/workspace.xml
java/.idea/misc.xml
